* {
    margin: 0;
    padding: 0;
}

nav {
    /* padding should be defined in percentages, not pixels, so that it is consistent across screen size changes */
    padding-left: 1%;
    padding-right:1%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height: 60px;
    background-color:aqua;
}

/* we use media queries here to display the navbar differently for certain resolutions
    - When the resolution is large (ie desktop), it will display all the items of the navbar without the menu button
    - When the resolution is small (ie smartphone), it will display just the DRUBER logo and the button
        - Note that toggling the button will result in the navbar dropping down, to reveal the other options (home, ride, rates, about us)
        - For purposes of this small example, we will not actually implement the code that triggers the menu dropping down
*/

/* In this example, we will use a mobile first approach, designing the button and links with the smartphone resolution in mind first, and then
using the media query for the desktop display
*/
button {
    padding: 10px 20px;
    background-color: aqua;
    font-size: 24px;
    cursor:pointer;
    display:block;
}

a {
    display:none
}

/* Code for desktop display inside media query */
@media only screen and (min-width: 1024px) {
    button {
        display:none;
    }
    
    a {
        display:block
    }
}

